* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.page_header {
    height: 15%;
    width: 100%;
    background-color: black;
    top: 0;
    position: absolute;
}

.header_font {
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
    color: white;
    margin-top: 3%;
}