* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.page_header {
    height: 15%;
    width: 100%;
    background-color: black;
    top: 0;
    position: absolute;
}

.header_font {
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-top: 3%;
}

.squaregrid {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    margin-left: auto;
    margin-right: auto;

}


.cell {
    height: 56px;
    width: 56px;
    background-color: rgb(180, 180, 203);
}


.player_grid {
    position: absolute;
    top: 30%;
    right: 10%;
}


.computer_grid {
    position: absolute;
    top: 30%;
    left: 10%;
}


.tile_hit {
    height: 56px;
    width: 56px;
    background-color: crimson;
}

.tile_miss {
    height: 56px;
    width: 56px;
    background-color: rgb(33, 133, 220);
}

.ship_tile {
    height: 56px;
    width: 56px;
    background-color: rgb(91, 86, 87);
}

.computer_name {
    position: absolute;
    top: 24%;
    left: 22%;
    color: black;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.player_name {
    position: absolute;
    top: 24%;
    right: 26%;
    color: black;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.status_text {
    position: absolute;
    top: 20%;
    right: 45%;
    color: black;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hover {
    height: 56px;
    width: 56px;
    background-color: rgb(112, 230, 16);
}